#!/bin/sh
PATH=/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
export PATH

iptables -I INPUT 1 -p tcp -m tcp --dport 80 -j ACCEPT
date >>/var/log/lighttpd/dehydrated.log
sudo -u www-data dehydrated --cron --hook /etc/dehydrated/hook.sh >>/var/log/lighttpd/dehydrated.log
iptables -D INPUT -p tcp --dport 80 -j ACCEPT
