#!/bin/bash

[ "$1" = "" ] && exit 1

cd "{{ easyrsa_dir }}"
source ./vars && ./build-key $1

mkdir -p clients
chmod 700 clients

cat ../client-common.txt \
    <(echo -e '<ca>') \
    keys/ca.crt \
    <(echo -e '</ca>\n<cert>') \
    keys/${1}.crt \
    <(echo -e '</cert>\n<key>') \
    keys/${1}.key \
    <(echo -e '</key>\n<tls-auth>') \
    ../ta.key \
    <(echo -e '</tls-auth>') \
    > clients/$1.ovpn

echo Client configuration: `pwd`/clients/$1.ovpn
